@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 35, 35, 38;
  --background-end-rgb: 1, 1, 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 35, 35, 38;
    --background-end-rgb: 1, 1, 1;
  }
}

body {
  color: #d3ccc9;
  background: rgb(var(--background-start-rgb));
}
